.header {
    height: 55px;
    display: flex;
    flex-direction: row;
}

.a1 {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.a2 {
    background-color: #ff0000;
    flex: 1;
    margin-left: 100px;
    margin-right:150px;

}
.a3 {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    background-color: #DDDDDD;
}

.hamburger-menu {
    width: 20px;
    margin-left: 20px;

}
.logo {
    width: 25px;
    margin-left: 10px;

}

h1.logo {
    font-size: 25px;
    margin-right: 10px;
    font-family: 'Comfortaa', cursive;
}


.theme  {
  margin-right: 50px;
}

.profile {
    margin-left: 50px;
}

.profile,
.chat,
.notifs {
    width: 20px;
}

.theme {
    border: 0px;
    padding: 0px;
    background: transparent;
        }

.sun {
  width: 30px;
  align-items: center;
}

.dark-mode {
  background-color: #171726;
  color: white;
}

background {
  background-color: white;
  font-size: 25px;
}

